<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jung.smartstreetlight">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_check"
        android:label="Smartstreetlight"
        android:roundIcon="@mipmap/ic_launcher_check_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smartstreetlight">
        <service
            android:name=".backgroundservice"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" ></service>
        <activity android:name=".Info"></activity>
        <activity android:name=".Notice" />
        <activity android:name=".Qna" />
        <activity android:name=".IntroActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="d2432d3cfbf57f1f27a28fa13a1e741e" />
    </application>

</manifest>